p, li {
  font-size: 16px;
}

.papers, .venue, .organisers, .speakers {
  margin-bottom: 40px;
}

.navbar {
  margin-bottom: 0;
  min-height: 80px;
}

.navbar-brand {
  padding: 5px;
}

.navbar-default {
/*  background-color: transparent;*/
  border-color: transparent;
}

.jumbotron {
  height: 600px;
  background: url("../img/bg_home.jpg") no-repeat center top;
  margin-bottom: 0;
  color: white;
}

.jumbotron .container h1 {
  font-size: 70px;
  font-weight: 300;
  text-shadow: 1px 1px #777777;
}

.jumbotron .container h2 {
  text-shadow: 1px 1px #777777;
  margin-bottom: 50px;
}

.jumbotron .container .social {
  text-shadow: 1px 1px #777777;
}

.social a {
  color: white;
}

.speakers-brief .page-header {
  border: 0;
  margin-top: 53px;
  margin-bottom: 33px;
  padding: 0;
}

.speakers-brief .thumbnail {
  border: 0;
  width: 256px;
  display: inline-block;
  text-align: left;
}

.speakers-brief .thumbnail .caption {
  padding: 0;
}

.speakers-brief .thumbnail .caption h2 {
  color: #eb1c24;
  margin-bottom: 2px;
  margin-top: 15px;
}

.speakers .thumbnail {
  border: 0;
}

.speakers .bio {
  text-align: left;
}

.speakers .bio h2 {
  margin: 0;
}

.speakers .bio p {
  margin: 0;
}

.organisers .thumbnail {
  border: 0;
}

.organisers .bio {
  text-align: left;
}

.organisers .bio h2 {
  margin-top: 0;
}

.learn2013 {
  border-width: 0;
  margin-bottom: 40px;
}

.navbar-collapse ul li {
  margin-right: 20px;
}

.navbar-collapse {
  margin-top: 15px; 
}

.navbar-collapse ul li a {
  padding: 10px 15px;
}

.sponsors-brief {
  background-color: #F0F0F0;
  height: 150px;
}

.sponsors-brief .container {
  padding-top: 40px;
}

.page-header {
  font-weight: 300;
  margin-top: 10px;
}

.googlemap {
    overflow: hidden;
    padding: 20px 0;
}

.venue {
  padding-bottom: 20px;
}

footer {
  background-color: #333333;
  height:150px;
  color:white;
}

footer .container {
  padding-top: 50px;
}

@media (max-width: 767px) {
  .nav {
    text-align: center;
  }
  .navbar-collapse ul li {
    margin-left: 20px;
  }

  .jumbotron .container h1 {
    font-size: 2.4em;
  }

  .jumbotron .container h2 {
    font-size: 1.15em;
  }

  .page-header {
    font-size: 2.4em;
  }

}
