<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta property="og:image" content="http://2014.agilesingapore.org/img/fb_share.jpg" />
    <meta property="og:title" content="Agile Singapore 2014 Conference" />
    <meta property="og:url" content="http://2014.agilesingapore.org" />
    <meta property="og:description" content="The 2nd Agile Conference in Singapore on 12 to 14 Nov at Marina Bay Sands." />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Agile Singapore 2014 Conference</title>

    <link rel="shortcut icon" href="img/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
<!--     <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"> -->
 
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51085940-1', 'agilesingapore.org');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');

    </script>
  </head>

  <body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="img/title_logo.png" width="250"/></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="speakers.html">Speakers</a></li>
            <li><a href="papers.html">Call for Papers</a></li>
            <li><a href="venue.html">Venue</a></li>
            <li><a href="organisers.html">Organisers</a></li>
            <li><a class="btn btn-default" href="http://agilesg2014.gevme.com" target="_blank">Buy Ticket</a></li>  
          </ul>
        </div>
          
      </div>
    </div>
  
    {{ content }}

    <footer>
      <div class="container text-center">
        <!-- <ul class="list-inline" >
          <li><span class="fa fa-facebook"></span> Visit Event Page</li>
          <li><span class="fa fa-twitter"></span> #AgileSG</li>
          <li><span class="fa fa-bullhorn"></span> Subscribe for News</li>
        </ul> -->
        <p>&copy; 2014 Agile SG Pte Ltd</p>
      </div>
    </footer>

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  </body>

</html>